<style>
.fontFamilyDetailHeader.familyHeaderBg {
  /* image used as background in family detail header */
  /* search for <TypefaceName>_header-background.jpg in family images folder, then in common
  images folder */
  background-color: #8fbaae;
  background-image:url("{% image_path BBC-Nassim_header-background_mobile.jpg %}");
  background-position:50% 50%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover
}
@media screen and (min-width: 640px) {
  .fontFamilyDetailHeader.familyHeaderBg {
    background-image:url("{% image_path BBC-Nassim_header-background_tablet.jpg %}");
  }
}
@media screen and (min-width: 1536px) {
  .fontFamilyDetailHeader.familyHeaderBg {
    background-image:url("{% image_path BBC-Nassim_header-background.jpg %}");
  }
}
.fontFamilyDetailAbout.familyBg {
  background: #e2e9eb;
}
</style>

<div class="custom-microsite">
<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path BBC-Nassim_header.svg %}" alt="BBC Nassim – customized version of Nassim for Arabic, Persian, Urdu, and Pashto">
    </a>
  </div>
</div>
<div class="greyBackground">

  <!-- About & Awards & PDF downloads -->
  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="description" itemprop="description">
        <p>In 2010, the BBC commissioned Titus Nemeth to develop an extended and customized version of his award winning typeface Nassim. BBC World Service – the world’s largest broadcasting service – underwent a major redesign of all of its web portals at the time. The design team around Senior Creative Director Kutlu Çanlıoğlu was looking for an Arabic typeface with high legibility and a contemporary aesthetic, that would work on the screen, and across platforms. A difficult task, since there was no successful implementation of Arabic webfonts at that point.</p>
        <p>The project was realized in close cooperation with Rosetta and was the first of its kind to bring distinguished Arabic typography to the web. With script-specific editions for Arabic, Pashto, Farsi and Urdu, it was now possible to deliver news content in a culturally sensitive way. Each of the fonts have a strong tonality, unique to the respective region. The development and successful application of BBC Nassim marks an important step for digital Arabic typography, millions of people around the globe read their news in it every day.</p>
      </div>
      <div class=cellWrap>
        <div class="wrap">
          <div class="titleWrap">
            <p><strong>Client:</strong> BBC World Service</p>
            <p><strong>Year:</strong> 2010</p>
          </div>
          <div class="awardsWrap">
            <div class="inner">
              <div class="awardsCols">
                <div class="awardsCol">
                  <div class="awardItem">
                    <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                    <div class="awardsText">Certificate of Excellence in Type Design, TDC2 2007</div>
                  </div>
                </div>
                <div class="awardsCol">
                  <div class="awardItem">
                    <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                    <div class="awardsText">First prize from European Design Awards 2007</div>
                  </div>
                </div>
                <div class="awardsCol">
                  <div class="awardItem singleRow">
                    <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                    <div class="awardsText">Awardee of ATypI Letter.2 2011</div>
                  </div>
                </div>
                <div class="awardsCol">
                  <div class="awardItem singleRow">
                    <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                    <div class="awardsText">Typographica’s Best of 2012</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
          <a href="http://rosettatype.com/Nassim" class="red solidButton"><span class="ico page"></span><span class="innerText">Purchase Nassim</span></a>
          <a href="https://www.rosettatype.com/microsite/current/Nassim/files/Nassim_specimen.pdf" class="red solidButton"><span class="ico page"></span><span class="innerText">Download specimen</span></a>
        </div>
      </div>

    </div>
  </div>

  <!-- Font Family Preview -->
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Arabic</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path BBC-Nassim_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path BBC-Nassim_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gallery -->

<div class="linkedWithFontFamilyDetailNavigation customGallery" id="font-family-gallery">
  <div class="item col-12">
    <div style="padding-top: 41.94%;"></div>
    <div class="image" style="background-image: url('{% image_path BBC-Nassim_gallery_1.svg %}');"></div>
  </div>
  <div class="item col-5">
    <div style="padding-top: 98.13%;"></div>
    <div class="image" style="background-image: url('{% image_path BBC-Nassim_gallery_2a.jpg %}');"></div>
  </div>
  <div class="item col-7">
    <div style="padding-top: 67.88%;"></div>
    <div class="image" style="background-image: url('{% image_path BBC-Nassim_gallery_2b.jpg %}');"></div>
  </div>
</div>

<!-- Credits -->

{% designers_info %}

</div>
