<style>
.fontFamilyDetailHeader.familyHeaderBg {
  /* image used as background in family detail header */
  /* search for <TypefaceName>_header-background.jpg in family images folder, then in common
  images folder */
  background-color: #8fbaae;
  background-image:url("{% image_path Yrsa-Rasa_header-background_mobile.jpg %}");
  background-position:50% 50%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover
}
@media screen and (min-width: 640px) {
  .fontFamilyDetailHeader.familyHeaderBg {
    background-image:url("{% image_path Yrsa-Rasa_header-background_tablet.jpg %}");
  }
}
@media screen and (min-width: 1536px) {
  .fontFamilyDetailHeader.familyHeaderBg {
    background-image:url("{% image_path Yrsa-Rasa_header-background.jpg %}");
  }
}
.fontFamilyDetailAbout.familyBg {
  background: #e2e9eb;
}
</style>

<div class="custom-microsite">
<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Yrsa-Rasa_header.svg %}" alt="Yrsa & Rasa – development of Latin and Gujarati type families for Google Fonts">
    </a>
  </div>
</div>
<div class="greyBackground">

  <!-- About & Awards & PDF downloads -->
  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="description" itemprop="description">
        <p>In 2015 Google asked us to contribute to their growing library of open-source webfonts. Being on good neighbourly terms with the tech-industry, and often relying on tools that were developed collaboratively, we took on the challenge. The idea behind open-source is constant modification and improvement of a product through collective intelligence. With that in mind, we chose to explore the idea of design as redesign, taking an existing typeface as a starting point and modifying it to arrive at a new solution. The process was documented in a series of blogposts (<a href="https://www.rosettatype.com/blog/2015/09/01/Introducing-Yrsa.html">Introduction</a>, <a href="https://www.rosettatype.com/blog/2016/01/20/Harmonizing-Rasa-Gujarati-and-Yrsa-Latin.html">Harmonization</a>, <a href="https://www.rosettatype.com/blog/2016/03/16/Yrsa-Rasa-released.html">Release</a>), and the sources made available on GitHub throughout the design phase.</p>
      </div>
      <div class=cellWrap>
        <div class="wrap">
          <div class="titleWrap">
            <p><strong>Client:</strong> Google</p>
            <p><strong>Year:</strong> 2015</p>
          </div>
        </div>
        <div class="buttonsWrapper">
          <a href="https://fonts.google.com/specimen/Yrsa" class="red solidButton"><span class="ico page"></span><span class="innerText">Download Yrsa fonts</span></a>
          <a href="https://fonts.google.com/specimen/Rasa" class="red solidButton"><span class="ico page"></span><span class="innerText">Download Rasa fonts</span></a>
        </div>
      </div>

    </div>
  </div>

  <!-- Font Family Preview -->
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Gujarati</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Yrsa-Rasa_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Yrsa-Rasa_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gallery -->

<div class="linkedWithFontFamilyDetailNavigation customGallery" id="font-family-gallery">
  <div class="item col-4">
    <div style="padding-top: 133.59%;"></div>
    <div class="image" style="background-image: url('{% image_path Yrsa-Rasa_gallery_1a.png %}');"></div>
  </div>
  <div class="item col-8">
    <div style="padding-top: 74.97%;"></div>
    <div class="image" style="background-image: url('{% image_path Yrsa-Rasa_gallery_1b.png %}');"></div>
  </div>
  <div class="item col-12">
    <div style="padding-top: 41.62%;"></div>
    <div class="image" style="background-image: url('{% image_path Yrsa-Rasa_gallery_2.jpg %}');"></div>
  </div>
</div>

<!-- Credits -->

{% designers_info %}

</div>
